Question 1

In [11]:
list1 = ["apple", "orange", "banana"]
print(list1)

list1.append("tomato")
print(list1)

list1.remove("apple")
print(list1)

['apple', 'orange', 'banana']
['apple', 'orange', 'banana', 'tomato']
['orange', 'banana', 'tomato']

Question 2

In [28]:
subjects = ("physics", "english", "chemistry", "math", "biology")
type(subjects)
subject1 = ("literature",)
add_subjects = subjects + subject1
print(add_subjects)

print(len(add_subjects))

('physics', 'english', 'chemistry', 'math', 'biology', 'literature')
6

Question 3

In [112]:
students_id = [10, 6, 7, 8, 9, 3]
print(students_id)

sorted_students_id = sorted(students_id)
print(sorted_students_id)
sorted_students_id.reverse()
print(sorted_students_id)

sorted_students_id. clear()
print(sorted_students_id)

[10, 6, 7, 8, 9, 3]
[3, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 3]
[]

Question 4

In [145]:
desc_list = list(range(15, 1, -3))
print(desc_list)

TypeError: 'list' object is not callable

Question 5

In [141]:
asc_list = list(range(2,14,2))
print(asc_list)

TypeError: 'list' object is not callable

Question 6

In [142]:
combined_list = desc_list + asc_list
print(combined_list)
even_numbers = 
odd_numbers =

SyntaxError: invalid syntax (3041691047.py, line 3)

Question 7

In [143]:
circle_properties =

SyntaxError: invalid syntax (559748318.py, line 1)

Question 8

Question 9

In [117]:
student_grades = {"Alice": 85, "Bob": 90, "Charlie": 78}
print(student_grades)

student_grades["David"] = 92
print(student_grades)

student_grades["Alice"] = 88
print(student_grades)

{'Alice': 85, 'Bob': 90, 'Charlie': 78}
{'Alice': 85, 'Bob': 90, 'Charlie': 78, 'David': 92}
{'Alice': 88, 'Bob': 90, 'Charlie': 78, 'David': 92}

Question 10

In [127]:
list_of_fruits = ["apple", "banana", "apple", "orange", "banana", "apple"]
fruit_count = {}
print(fruit_count)

{'[': 1, "'": 12, 'a': 10, 'p': 6, 'l': 3, 'e': 4, ',': 5, ' ': 5, 'b': 2, 'n': 5, 'o': 1, 'r': 1, 'g': 1, ']': 1}